body{
    background-image: url(img/background1.png);
}

.container-profile{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding:0px 20px 20px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #EDF6F9FF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1{
    display: flex;
    justify-content: center;
}

.user-data{
    display: flex;
    align-items: center;
}

.user-data span{
    margin-left: 10px;
}
